<html>
	<head>
		<title> Login | Opinion Master </title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
		<script src="{{url_for('static', filename='js/script.js')}}" defer></script>
	</head>

	<body>
        <h1>Login to Opinion Master </h1>
		<hr>
		<p> A step-by-step walkthrough of how Opinion Mining works.</p>
		    <ol><li>Step 1: Enter the keyword of your choice. It may be a hot brewing topic/ movie/ /company/ Famous Personality</li>
			   <li>Step 2: Enter the no. of tweets you want to retrieve and do the analysis on. (Preferably keep it upto 10000 to escape latency)</li>
			   <li>Step 3: Click on the submit button and wait for a while till we get it done for you</li>
			   <li>Step 4: Voila! Explore your results</li></ol>

		<hr>
		<br>
		<form method="post" action="/login_validation" class="user" role="form">
			<label for="email">Email</label>
			<input id="email" type="email" name="email" placeholder="Email" aria-label="Email">

			<label for="password">Password</label>
			<input name="password" id="password" type="password" placeholder="Password" aria-label="Password">

			<a href="/register">Not Registered?</a>
			<br><br>

			<input type="submit">

		</form>
		
	</body>
</html>
